@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: conic-gradient(rgb(50, 11, 94) 45deg, rgb(0, 119, 255) 90deg, rgb(29, 28, 28) 210deg);
}

.flex-container {
    position: relative;
    display: grid;
    width: 60vw;
    padding-bottom: 15px;
    background-color: rgb(42, 43, 134);
    border-radius: 20px;
}

img {
    position: absolute;
    align-self: center;
    justify-self: center;
    height: 60vh;
    transition: 0.8s;
    opacity: 0.1;
}

img:hover {
    height: 650px;
    cursor: pointer;
    opacity: 1;
}

.flex-items {
    display: flex;
    flex-direction: column;
    color: rgb(253, 253, 253);
    cursor: default;
}

h1 {
    font-family: 'Ewert', cursive;
    color: rgb(5, 228, 16);
    margin: 20px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}
h1:hover {
    transform: scale(1.3);
    color: #000;
    cursor: pointer;
}

p {
    margin: 20px;
    font-size: 2rem;
}

@media only screen and (max-width: 1440px) {
    h1 {
        font-size: xx-large;
    }
    p {
        font-size: x-large;
    }
}
